<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Iniciar Sesión</h1>
        <form method="post">
            <label>Correo:</label><input type="email" name="correo" required><br>
            <label>Clave:</label><input type="password" name="clave" required><br>
            <button type="submit">Iniciar Sesión</button>
        </form>
        <a href="{{ url_for('register') }}">Registrarse</a>
    </div>
</body>
</html>
